body{
    background-color: #052C65;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    }

a{
    text-decoration: none;
    align-items: center;
}

section[class = cursos]{
    margin: auto;
    height: auto;
    padding: auto;
    align-items: center;
}
div[class = valores]{
    margin: 20px;
}

div[class = design]{
    float: left;
    background-color: white; 
    color: #052C65;
    border-radius: 5px;   
    width: 500px;
    height: 450px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
}
div[class = informatica]{
    float: left;
    background-color: white; 
    color: #052C65;
    border-radius: 5px;   
    width: 500px;
    height: 450px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 14px;
}
div[class = gestao]{
    float: left;
    background-color: white; 
    color: #052C65;
    border-radius: 5px;   
    width: 500px;
    height: 450px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
}
div[class = seguranca]{
    float: left;
    background-color: white; 
    color: #052C65;
    border-radius: 5px;   
    width: 500px;
    height: 450px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 13px;
}

div[class = conteudo]{
    margin: 20px;
}

table{
    border-color: white;
    font-size: 14px;
}
td{
    text-align: center;
}
footer{
    text-align: center;
    font-size: 12px;

}


