*{
    font-family: verdana;
}

main{
    width: 100%;
    margin: 0 auto;
}

ul > a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #052C65;
    text-align: center;
    color: white;
    width: 100%;
    margin: 0 auto;
}

section{
    padding: 0 5rem;
}

img{
    width: 100%;
}

.conteudo{
    background-color: white;
    color: #052C65;
    display: flex row;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 10px 0;
}

h1{
    background-color: #052C65;
    color: white;
    border-radius: 1rem;
}

table{
    margin: auto;
    border: white;
    padding: 1rem;
}

tr > th{
    padding: 1rem;
}

thead > tr > th{
    background-color: white;
    color: #052C65;
}

footer{
    font-size: 12px;
}

