body{
    margin: 0;
    font-family: verdana;
}
#wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav{
    background-color: #f26666;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    list-style: none;
    padding: 20px;
    color: white;
    margin: 0;
}
ul li img{
    display: none;
}
ul li:hover{
    background-color: red;
}
figure{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #ccc;
    border: 2px solid red;
}
figure img{
    width: 100%;
}
@media screen and (max-width:600px){
    #wrapper{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    nav ul{
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    nav{
        width: 20%;
    }
    nav ul li img{
        display: block;
    }
    nav ul li span{
        display: none;
    }
    figure{
        width: 60%;
    }
    
}